<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>

</head>
<body>
    
     <table align='center'><tr><td>
        {{!-- <img src="/MENS100M/images/404_error.png" style="margin-top:-20px" height="150px" width="300px" title="404 error"> --}}
        <h1 style="font-family: 'Fugaz One'; font-size:30px; color:red"><br>{{errorMsg}}</h1>
        </td></tr><tr><td align='center'><a href="/mens"><button id='m1' align='center'>Go Back</button></a>
    </td></tr></table>
</body>
</html>